<mat-toolbar color="info" class="border-bottom bg-white header">
    <mat-toolbar-row>

        <span class="logo-img"><img src="./assets/img/FBMLogo.PNG"></span>

        <button mat-icon-button (click)="toggleSideBar()" mat-raised-button>
            <mat-icon>menu</mat-icon>
        </button>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" class="logout-icon-right">
            <ul class='profileMenu' fxLayout="row" fxLayoutGap="20px">

                <li>
                    <span>Hello, {{"Raj"}} </span>
                    <button mat-icon-button mat-raised-mat-button matTooltip="LOGOUT" [matTooltipPosition]="'above'">
                        <mat-icon>exit_to_app</mat-icon>
                    </button>


                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>