.mat-form-field {
  margin-right: 4px;
}

mat-tree-node {
  height: 24px !important;
  min-height: 24px !important;
}

.mat-tree-node,
.mat-nested-tree-node {
  font-weight: 500;
  font-size: 12px !important;
}


:host ::ng-deep .mat-checkbox-inner-container {
  margin-right: 6px !important;
  height: 14px !important;
  width: 14px !important;
  color: #336699 !important;
}

.tree {
  margin-left: 4px;
}

.tree__root {
  font-weight: 700;
  font-size: 13px !important;
}
/* .mat-checkbox .mat-checkbox-inner-container{
  background-color: #007bff; 
} */



/* mat-checkbox mat-accent mat-checkbox-checked */

/* Use ::ng-deep to apply the color to tree nodes and checkboxes */
::ng-deep .mat-checkbox-checked .mat-checkbox-inner-container {
  background-color: #336699 !important; /* Change this to your desired color */
}

::ng-deep mat-tree-node.my-custom-tree-node {
  color: #336699 !important; /* Change this to your desired color */
}

.mat-checkbox-checked .mat-checkbox-inner-container {
  background-color: #336699 !important;
}

mat-tree-node.my-custom-tree-node {
  color: #336699 !important;
}


.custom-material-theme {
  /* Override the color here */
  --mat-primary: #336699 !important;
  --mat-primary-contrast: #fff !important; /* Adjust the contrast color if needed */
}

/* .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #7fc10e !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #7fc10e !important;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-checked.mat-checkbox-background{
  background-color: #336699 !important;
} */
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #336699 !important;
}
