<mat-nav-list>
    <a  mat-list-item routerLink="/home">
      <mat-icon matListIcon>home</mat-icon>HOME
    </a>
    <a mat-list-item  routerLink="/input-form" >
      <mat-icon matListIcon>content_paste</mat-icon>CREATE INPUT FORM
    </a>
    <!-- <a mat-list-item  routerLink="/payroll-review">
      <mat-icon matListIcon>preview</mat-icon>PAYROLL REVIEW
    </a>
    <a mat-list-item  routerLink="/payroll-download">
      <mat-icon matListIcon>system_update_alt</mat-icon>PAYROLL DOWNLOAD
    </a>
    <a  mat-list-item  routerLink="/branch-user-mapping-details">
      <mat-icon matListIcon>supervisor_account</mat-icon>BRANCH USER MAPPING DETAILS
    </a> -->
    <a  mat-list-item  routerLink="/fbm-id-linkage">
      <mat-icon matListIcon>settings_accessibility</mat-icon>FBM ID MAPPING
    </a>
  </mat-nav-list>
  
  
  